<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/auth/signup/createUser" method="post">
        <section>
            <input id="current-useremail" type="email" placeholder="enter your email" name="userEmail" autocomplete="on" required>
        </section>
        <section>
            <input id="current-password"type="password" placeholder="enter your password" name="userPass" autocomplete="on" required>
        </section>

        <button type="submit">Signup</button>
    </form>
    <section>
        Already have an account ? <a href="/auth/signin">login</a>
    </section>
</body>
</html>