/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

#okSignal{
  width: 100px;
  height: 30px;
  display: inline-block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
