<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/resets.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<p>Enter Temperature in Celcius: </p>
		<form action="#">
			<input type="text" id="tempInCelcius" placeholder="Temp In C goes here">
			<button id="okSignal">Submit</button>
		</form>

		
		<h1 id="displayTemperature"></h1>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
